
.chatConteudo{
    display: grid;
    grid-template-rows: 80px auto 80px;
    padding: 5px;
    height: calc(100vh - 170px);
}

.chatHeader{
    text-align: center;
}

.chatConversa{
    overflow: auto;
}

.chatMensagem{

}



